$header-height: 6em;
$footer-height: 6em;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style:none;
    font-family: Microsoft JhengHei;
}
  
body {
    font-family: 'Abel', sans-serif;
    font-size: 1em;
    color: #5B5B5B;
    background-color: #85CCE7;
    width: 100vw;
    overflow-x: hidden;
}

img {
    border-radius: 0.5em;
}
  
a {
    color: #00B7FF;
    text-decoration:none;
}

  
.logo{
    grid-area: logo;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
    }
}

.container{
    display: grid;
    width: 100%;
    grid-template-columns: 15em minmax(0, 1fr) 15em;
    grid-template-rows: $header-height auto auto $footer-height;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas: 
    "logo nav no"
    "non content no"
    "non post no"
    "footer footer footer";
    background-image:url(../images/img01.jpg);
}
  
.content{
    grid-area: content;
    min-height: calc( 100vh - #{$header-height} - #{$footer-height} );


    .bookmark{
        float: right;
        font-size: 32px;
        text-align: center;
        border: 6px solid #FF7600;
        border-radius: 5px 5px 20px 5px;
        background-color: #FFB576;
        position:absolute;
        top:-15px;
        left:910px;
        z-index: 1;
        transition:width 1s;
        width: 100%;
        height: 100%;

        li{
            border-radius: 0.5em;
            color: #ffffff;
            background: none;
            transition: background 0.25s ease-in-out,
            color 0.25s ease-in-out;
            border-radius: 5px 5px 20px 5px;
        }
        li:hover{
            text-decoration: none;
            color: #FFFFFF;
            background: #FF7600;
            border-radius: 5px 5px 20px 5px;
        }
    }
}



.nav-tabs {
    list-style:none;
    padding:0;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    a {
        border-radius: 0.5em;
        color: #000000;
        background: none;
        transition: background 0.25s ease-in-out,
        color 0.25s ease-in-out;
    }

    a:hover, .current_page_item a {
        text-decoration: none;
        color: #FFFFFF;
        background: #132434;
    }

    li {
        // margin-left:15px;
        // padding:15px 20px 20px;
        // width:192px;
        font-size: 2em;
        width: 5em;
        height: 2em;
        a {
            display: block;
            height: 100%;
            width: 100%;
            font-weight:normal;
            color:#4c4c4c;
            text-decoration:none;
            text-align:center;
            line-height: 2em;
        }

    }

        
    li:not( :first-child ) {
        margin-left: 0.5em;
    }
}
  
.column-container {
    margin: 1em auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    justify-items: stretch;
    align-items: stretch;
    position: relative;
}

.column{
    background-color:#FFE8B8;
    border-radius: 10px;
    padding: 1rem;
    position: relative;

    h2 {
        text-align: center;
        width: 100%;
        margin-bottom: 1rem;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        width: 100%;
    }

    p {
        height: 10em;
        font-size: 1em;
        margin-bottom: 1em;
        overflow: hidden;
    }

    a {
        display: block;
        padding: 0.5em 1em;
        float: right;
        background: #132434;
        border-radius: 5px;
        color: #FFFFFF;
        text-align: center;
        text-decoration: none;
    }
}
  
.post{
    grid-area: post;
    background-image: url(../images/simp.jpg);
    border-radius: 10px;
    padding: 2em;
    
    p {
        margin-bottom: 2em;
    }
    
    .button {
        display: block;
        float: left;
        padding: 0.5em 1em;
        margin-right: 10px;
        background: #132434;
        border-radius: 5px;
        color: #FFFFFF;
        text-align: center;
        text-decoration: none;
    }
}

.footer{
    background: url(../images/img05.jpg);
    text-align: center;
    grid-area: footer;
    font-size: 20px;
    line-height: 100px;
}