<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="/unity/TemplateData/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/unity.css">
    <script src="/unity/TemplateData/UnityProgress.js"></script>
    <script src="/unity/Build/UnityLoader.js"></script>
</head>

<body>
    <div class="container">
        <div class="logo">
            <a href="index"><img src="/images/Logo.svg"></a>
        </div>
        <ul class="nav-tabs">
            <li><a href="index">首頁</a></li>
            <li><a href="intro">介紹</a></li>
            <li class="current_page_item"><a href="game">開始遊戲</a></li>
            <li><a href="#">排行榜</a></li>
            <li><a href="user_login_form">帳號</a></li>
        </ul>

        <div class="content">

            <div class="webgl-content">
                <div id="unityContainer" style="width: 960px; height: 540px;"></div>
                <!-- <ul class="bookmark">
                    <li><a href="#">圖鑑</a></li>
                </ul> -->
            </div>

           

        </div>

        <footer class="footer">
            <font color="white"> © UNTITLED. ALL RIGHTS RESERVED. IMAGES BY FOTOGRPH. DESIGN BY TEMPLATED.</font>
        </footer>
        <p id='json' hidden><%= json %></p>
    </div>

    <script src="/vendor/jquery/jquery.min.js"></script>

    <script type="text/javascript" src="/js/unityClient.js"></script>

</body>

</html>