<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="h-icon">
         Icon pls(css didn't finish)
        </div>

      </header>

      <nav class="nav">            
        <ul class="nav-tabs">
          <li><a href="#">主畫面</a></li>
          <li><a href="#">圖鑑</a></li>
          <li><a href="#">排行榜</a></li>
          <li><a href="user_login_form">帳號</a></li>
        </ul>
      </nav>        

      <article class="content"><h1>Main Area</h1>
      <p>For put game scene</p></article> 
      <footer class="footer">The footer</footer>
  </div>
  </body>
</html>
