<header class="nav-down responsive-nav hidden-lg hidden-md">
    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <!--/.navbar-header-->
    <div id="main-nav" class="collapse navbar-collapse">
        <nav>
            <ul class="nav navbar-nav">
                <li><a href="#top">Home</a></li>
                <li><a href="#fea">user</a></li>
                <li><a href="#projects">Recent Projects</a></li>
                <li><a href="#video">Presentation</a></li>
                <li><a href="#blog">Blog Entries</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="sidebar-navigation hidde-sm hidden-xs">
    <div class="logo">
        <a href="#">Code<em>Block</em></a>
    </div>
    <nav>
        <ul>

            <li>
                <a onclick="goto('user')" href="#user">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    用戶
                </a>
            </li>
            <li>
                <a onclick="goto('class')" href="#class">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    班級
                </a>
            </li>
            <li>
                <a onclick="gotopdf('teacher_guide_book')">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    使用手冊
                </a>
            </li>
            <li>
                <a style="visibility:hidden">
                    Blank
                </a>
            </li>
            <li>
                <a style="visibility:hidden">
                    Blank
                </a>
            </li>
        </ul>
    </nav>
    <ul class="social-icons">
        <li><a href="https://github.com/NeonEDuck/CodeBlock"><i class="fa fa-github"></i></a></li>
        <li><a href="mailto:10556008@ntub.edu.tw"><i class="fa fa-envelope"></i></a></li>
        <li><a href="https://imd.ntub.edu.tw/"><i class="fa fa-university"></i></a></li>
    </ul>
</div>